/* REUSABLE CLASSES */
.flex {
    display: flex;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.mainImg {
    width: 576px;
    height: auto;
    margin: 32px 24px 32px 24px;
}

.mainImgTest {
    width: 100%;
    height: auto;
}

.mainInfo {
    width: 384px;
}

.mainH1 {
    color: rgb(51, 51, 51);
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.mainH2 {
    color: rgb(51, 51, 51);
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.testDiv {
    width: 528px;
    margin: 32px 24px 32px 24px;
}

/* ------------------------------ */
/* Base Styles */
html {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

/* ------------------------------ */
/* Header */

/* Header Container Sizing & Style */
#header {
    background-color: white;
    height: 64px;
    align-items: center;
    justify-content: space-between;
}

/* Brand Text Sizing & Style */
.brand {
    align-items: center;
}

/* Brand & "Academy" Text Sizing & Style */
.brand p {
    color: grey;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1.35em;
    font-weight: 500;
    display: inline-block;
    padding-left: 3px;
    text-transform: uppercase;
}

/* "Colmar" Sizing & Style */
.brand p span {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 800;
    color: black;
}

/* Logo Sizing & Style */
.brand img {
    padding: 3px 0 0 0;
    width: 2em;
}

/* Desktop Navigation Container (Ul) Sizing & Style */
.desktopNav {
    list-style: none;
}

/* Desktop Navigation (Li) Sizing & Style */
.desktopNav li {
    display: inline;
    padding: 0 16px;
}

/* Desktop Navigation Anchor (a) Sizing & Style */
.desktopNav li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 800;
    transition: all 150ms ease-out 0s;
}

/* Desktop Navigation Anchor (a) Sizing & Style - ON HOVER */
.desktopNav li a:hover {
    color: rgb(129, 129, 129);
}

/* ------------------------------ */
/* Headline */

/* Background Color for Headline Section */
.headline {
    background-color: #dbdbdb;
}

.headlineText {
    flex-flow: wrap column;
    justify-content: center;
    line-height: 1.1;
}

.headlineText h1 {
    margin-bottom: 2rem;
}

.headlineText h2 {
    color: rgb(51, 51, 51);
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.headlineText button {
    color: rgb(255, 255, 255);
    background-color:rgb(51, 51, 51);
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    border: 0;
    padding: 8px 0;
    width: 85%;
}

/* ------------------------------ */
/* Information Section Styles */

.informationImg {
    
}